<%= render 'shared/error_messages', resource: @period %>

<%= form_with model: period do |f| %>
  <div class="row mb-3">
    <div class="col-5 col-form-label">
      <%= f.label :name %>
    </div>
    <div class="col-7">
      <div>
        <%= f.text_field :name, class: 'form-control', required: true %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-5 col-form-label">
      <%= f.label :start_year %>
    </div>
    <div class="col-7">
      <div>
        <%= f.number_field :start_year, class: 'form-control', required: true %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-5 col-form-label">
      <%= f.label :end_year %>
    </div>
    <div class="col-7">
      <div>
        <%= f.number_field :end_year, class: 'form-control', required: true %>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-5 col-form-label">
      <%= f.label :notes %>
    </div>
    <div class="col-7">
      <div>
        <%= f.text_area :notes, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="text-center mb-2 col-6">
      <%= link_to 'Cancelar',
                  periods_path,
                  data: { turbo_frame: '_top'},
                  class: 'btn btn-outline-danger btn-sm' %>
    </div>
    <div class="text-center mb-2 col-6">
      <%= f.submit t('helpers.submit.submit'),
                   class: 'btn btn-outline-success btn-sm' %>
    </div>
  </div>
<% end %>  