<h1 class="text-center mb-5">
  <%= Period.model_name.human(count: :other) %> Cadastrados
</h1>

<% if @periods.any? %>
  <div class="period-turbo-form">
    <%= turbo_frame_tag Period.new %>
  </div>
  <ul class="period-list" id="periods">
    <% @periods.each do |p| %>
      <li class="period-list--item">
        <%= turbo_frame_tag p do %>
          <%= render p %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="text-center mb-5">
    Nenhum <%= Period.model_name.human.downcase %> cadastrado
  </p>
<% end %>
<div class="text-center mb-5">
  <%= link_to t('.new'),
              new_period_path,
              data: { turbo_frame: dom_id(Period.new) },
              class: 'btn btn-outline-success btn-sm' %>
</div>