<%= form_with model: composer do |f| %>
  <div class="row mb-3">
    <div class="col-5 col-form-label">
      <%= f.label :name %>
    </div>
    <div class="col-7">
      <div>
        <%= f.text_field :name, required: true, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-5 col-form-label">
      <%= f.label :period_id %>
    </div>
    <div class="col-7">
      <div>
        <%= f.collection_select :period_id, Period.all.order(:name), :id, :title_name %>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-5 col-form-label">
      <%= f.label :notes %>
    </div>
    <div class="col-7">
      <div>
        <%= f.text_area :notes, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="text-center mb-5">
    <%= f.submit t('helpers.submit.submit'), class: 'btn btn-outline-success' %>
  </div>
<% end %>