<%= form_with model: instrument do |f| %>
  <div class="field row mb-5">
    <div class="col-5 col-form-label">
      <%= f.label :name %>
    </div>
    <div class="col-7">
      <div>
        <%= f.text_field :name, required: true, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="text-center mb-5">
    <%= f.submit t('helpers.submit.submit'), class: 'btn btn-outline-success' %>
  </div>

  <div class="text-center">
    <%= link_to t('helpers.back'), instruments_path %>
  </div>
<% end %>