<h1 class="text-center mb-5">
  <%= Instrument.model_name.human(count: :other) %> Cadastrados
</h1>

<% if @instruments.any? %>
  <div class="instrument-turbo-form">
    <%= turbo_frame_tag Instrument.new %>
  </div>
  <ul class="instrument-list" id="instruments">
    <% @instruments.each do |i| %>
      <li class="instrument-list--item">
        <%= turbo_frame_tag i do %>
          <%= render i %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="text-center mb-5">
    Nenhum <%= Instrument.model_name.human.downcase %> cadastrado
  </p>
<% end %>
<div class="text-center mb-5">
  <%= link_to t('.new'),
              new_instrument_path,
              data: { turbo_frame: dom_id(Instrument.new)},
              class: 'btn btn-outline-success btn-sm' %>
</div>