<h1 class="text-center mb-5">
  <%= Instrument.model_name.human(count: :other) %> Cadastrados
</h1>

<%= turbo_frame_tag Instrument.new %>

<% if @instruments.any? %>
    <ul class="instrument-list">
      <%= turbo_frame_tag "instruments" do %>
        <% @instruments.each do |i| %>
          <li><%= link_to i.name.capitalize, i %></li>
        <% end %>
      <% end %>
    </ul>
<% else %>
  <p class="text-center mb-5">
    Nenhum <%= Instrument.model_name.human.downcase %> cadastrado
  </p>
<% end %>
<div class="text-center mb-5">
  <%= link_to t('.new'),
              new_instrument_path,
              data: { turbo_frame: dom_id(Instrument.new)},
              class: 'btn btn-outline-success btn-sm' %>
</div>